<div class="chat-container">
    <div class="chat-enter-view">
        <h1 class="chat-welcome-label">Welcome to No Password Chat</h1>

        <div class="chat-welcome-row">
            <label>Nickname: </label><input type="text" class="chat-nickname-input"/>
        </div>
        <div class="chat-welcome-row">
            <label>Color: </label><input type="text" class="chat-color-input"/>
        </div>
        <div class="chat-welcome-row">
            <input type="button" class="chat-enter-button" value="Enter"/><br/>
        </div>
    </div>
    <div class="chat-main-view">
        <div class="chat-messages-output"></div>
        <div class="chat-users-output"></div>
        <div class="chat-message-input"></div>
    </div>
</div>
